@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@theme {
  --color-primary: #5FCF80;
  --color-blue-1: #2b5d83;
}
